@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

*a{
    font-size: 1.em;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.151);
}

body{
    background-color: #0D192B;
    padding: 10px;
}

header{
    margin: auto;
    max-width: 800px;
    color: rgb(255, 255, 255); 
}
header > img{
   display: block;
   margin: auto;
}
header h1{
    font-size: 2.5em;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.151);
}
header h3{
    text-align: center;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.151);
}
nav{
    text-align: center;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.151);
    
}
nav img:hover{
    border: 2px solid white;
    border-radius: 20px;
    background-color: rgb(221, 221, 221);
}
nav img{
    display: inline-block;
    padding: 10px;
    margin: 20px auto 20px auto;
}
main{
    height: auto;
    max-width: 700px;
    background-color:#14253D;
    margin: 20px auto 10px auto;
    padding: 20px;
    border-radius:20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
.youtube{
    background-color: rgb(255, 255, 255);
    height: 50px;
    max-width: 300px;
    margin: auto auto 30px auto;
    border-radius: 30px;
    text-align: center;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.37);
    user-select: none;
    transition: 1s;
}
.youtube:hover{
    background-color:#d5dbdb6e;
    transition: background 1s ;
    cursor: pointer;
}
.youtube a{
    color: black;
    position: relative;
    left: 15px;
    text-decoration: none;
    
}
.youtube a:hover{
    text-decoration: underline;
    color: #2b6bd9;
}
.youtube img{
    position: relative;
    left: -140px;
    top: 10px;
}

.instagram{
    background-color: rgb(255, 255, 255);
    height: 50px;
    max-width: 300px;
    margin: auto auto 30px auto;
    border-radius: 30px;
    text-align: center;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.37);
    user-select: none;
}
.instagram:hover{
    background-color:#d5dbdb6e;
    transition: background 1s linear;
    cursor: pointer;
}
.instagram a{
    color: black;
    position: relative;
    left: 15px;
    text-decoration: none;
}
.instagram a:hover{
    text-decoration: underline;
    color: #2b6bd9;
}
.instagram img{
    position: relative;
    left: -145px;
    top: 10px;
}
.github{
    background-color: rgb(255, 255, 255);
    height: 50px;
    max-width: 300px;
    margin: auto auto 30px auto;
    border-radius: 30px;
    text-align: center;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.37);
    user-select: none;
}
.github:hover{
    background-color:#d5dbdb6e;
    transition: background 1s linear;
    cursor: pointer;
}
.github a{
    color: black;
    position: relative;
    left: 15px;
    text-decoration: none;
}
.github a:hover{
    text-decoration: underline;
    color: #2b6bd9;
}
.github img{
    position: relative;
    left: -135px;
    top: 10px;
}

.twitter{
    background-color: rgb(255, 255, 255);
    height: 50px;
    max-width: 300px;
    margin: auto auto 30px auto;
    border-radius: 30px;
    text-align: center;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.37);
    user-select: none;
}
.twitter:hover{
    background-color:#d5dbdb6e;
    transition: background 1s linear;
    cursor: pointer;
}

.twitter a{
    color: black;
    position: relative;
    left: 15px;
    text-decoration: none;
}
.twitter a:hover{
    text-decoration: underline;
    color: #2b6bd9;
}
.twitter img{
    position: relative;
    left: -135px;
    top: 10px;
}
.linkedin{
    background-color: rgb(255, 255, 255);
    height: 50px;
    max-width: 300px;
    margin: auto auto auto auto;
    border-radius: 30px;
    text-align: center;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.37);
    user-select: none;
}
.linkedin:hover{
    background-color:#d5dbdb6e;
    transition: background 1s linear;
    cursor: pointer;
}
.linkedin a{
    color: black;
    position: relative;
    left: 15px;
    text-decoration: none;
}
.linkedin a:hover{
    color: #2b6bd9;
    text-decoration: underline;
}
.linkedin img{
    position: relative;
    left: -140px;
    top: 10px;
}

.certificado{
    background-color: rgb(255, 255, 255);
    height: 50px;
    max-width: 300px;
    margin: 30px auto;
    border-radius: 30px;
    text-align: center;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.37);
    user-select: none;
}
.certificado:hover{
    background-color:#d5dbdb6e;
    transition: background 1s linear;
    cursor: pointer;
}
.certificado a{
    color: black;
    position: relative;
 
    left: 15px;
    text-decoration: none;
}
.certificado a:hover{
    color: #2b6bd9;
    text-decoration: underline;
}
.certificado img{
    position: relative;
    left: -150px;
    top: 15px;
}

footer{
    text-align: center;
    height: 10px;
    margin: auto auto 10px auto;
    padding: 10px 0px 20px 0px;
    color: white;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    color: #000000;
    text-decoration: underline;
}
.icon{
    background-color: #009F93;
}






